<form id="libThemerDialog" action="#">
	<nav>
		<ul>
			{{#each themes}}
				<li data-sort="{{@key}}">
					<a class="lib-themer-dialog-link" data-load="{{@key}}" onclick="libThemer.renderThemeOptions('{{@key}}');">{{localize title}}</a>
				</li>
			{{/each}}
		</ul>
	</nav>
	<main>
		<h2 class="lib-themer-dialog-title">
			LIB THEMER TITLE
		</h2>
		<div class="lib-themer-dialog-content">
			{{#each themes.lib-themer}}
				{{#is type 'shades'}} is shades {{/is}}
				<div>{{#is type 'color'}} is color {{/is}}</div>
				<div>{{#is type 'palette'}} is palette {{/is}}</div>
			{{/each}}
		</div>
		<footer class="sheet-footer flexrow">
			<button type="submit" name="submit"><i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}</button>
		</footer>
	</main>
</form>