<div class="form-group">
	<label>{{localize name}}</label>
	<input type="text" name="{{property}}" data-type="{{type}}" value="{{default}}" is="colorpicker-input" data-responsive-color data-watch-picker-change>
	<div class="notes">{{{markdown hint}}}</div>
	<div class="lib-themer-preview shades">
		<span style="background: var({{property}}); color: var({{property}}-contrast-text);">
			Base
			<span style="color: var({{property}}-shaded-text);">shaded</span>
		</span>
		<span style="background: var({{property}}-hover); color: var({{property}}-contrast-text);">hover</span>
		<span style="background: var({{property}}-active); color: var({{property}}-contrast-text);">active</span>
		<span style="background: var({{property}}-dark); color: var({{property}}-dark-contrast-text);">
			dark
			<span style="color: var({{property}}-dark-shaded-text);">shaded</span>
		</span>
		<span style="background: var({{property}}-light); color: var({{property}}-light-contrast-text);">
			light
			<span style="color: var({{property}}-light-shaded-text);">shaded</span>
		</span>
	</div>
</div>