<div class="form-group">
	<label for="{{property}}">{{localize name}}</label>
	<div class="form-fields">
		<input type="checkbox" name="{{property}}" data-type="{{type}}" data-dtype="Boolean" {{#if default}}checked{{/if}}>
    </div>
	<div class="notes">{{{markdown hint}}}</div>
</div>